@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
}

body {
    background-color: dodgerblue;
    font-family: "Montserrat", system-ui;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #26333d;
    height: 100px;
    width: 100%;
}
.layout-grid {
    margin: 0 auto;
    width: 100%;
    /* border: 3px solid snow; */
    max-width: 992px;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
#banner {
    background-color: #4969DF;
    height: 500px;
    width: 100%;
}
.banner-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    width: 450px;
    height: 200px;
}

.banner-info h1{
    font-size: 25px;
    color: white;
}

.banner-info p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-info img{
    height: 470px;
    width: 470px;
    align-items: flex-end;
}



